@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

#root {
  --colorText: #161616;
  --colorPlaceholder: #868686;
  --colorBG: #f3f3f3;
  --color01: #468fd1;
  --color02: #E4A761;
  --color03: #45B4A7;
  --colorWhite: #FFF;
  --colorBlack: #000;
  --radius: 1em;
}

.pointer {cursor: pointer;}
.click:active {transform: scale(0.95)}
.fadein {opacity: 1}
.fadeout {opacity: 0}
.noArrow::-webkit-outer-spin-button, .noArrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}